@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
    background-color: #000000;
    color: #ffffff;
} */

body {
  background: #0f0f0f;
  color: #fff;
}

input,
textarea {
  color: #000;
}
